.page {
    display: flex;
    flex-direction: column;
    margin: 5vh 3vw 5vh 3vw;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: muli, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: black;
    text-decoration: none;
    border: solid 5px black;
    padding: 1vw;
}

.nav-list {
    display: flex;
    text-decoration: none;
}

.nav-item {
    display: flex;
    padding: 0 3vw 0 3vw;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh 0 10vh 0;
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.title h1 {
    display: flex;
    justify-content: center;
    margin: 0vh 0 0vh 0;
}

.section-title {
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
}
.section-text {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.project-table {
    display: flex;
    flex-direction: row;
}

.project-cell {
    display: flex;
    flex-direction: column;
    background: red;
    border: solid 1px black;
}

.screenshot {
    width: 100%;
    height: auto;
}